body {
    background-color: lightgrey;
    margin-top: 10px;

}

.small-nav li {
    list-style-type: none;
    display: inline;
    padding: 10px;
}

.small-nav a {
    color: black;
}

.small-nav {
   margin-left: 60%;
}

.product-img {
    width: 100%;
    margin-top: -60px;
}

.product-title {
    text-align: center;
    color: white;
    margin-top: -200px;
    font-size: 70px;
    text-shadow: 2px 2px 2px black;
}

.small-title {
    text-align: center;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
}

.index-buttons {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
}

.about {
    text-align: center;
    margin-top: 48px;
    background-color: white;
    box-shadow: 2px 2px 2px grey;
    padding: 50px;
    width: 100%;
}

.navbar {
    height: 70px;
}

.navbar li {
    margin-top: 10px;
}

.navbar-brand {
    margin-top: 10px;
    font-size: 25px;
}

.navbar-brand a {
    color: blue;
}

.about-title {
    padding-bottom: 15px;
}

.about-page {
    text-align: center;
}

.welcome-message {
    padding-bottom: 20px;
}

.heading-button {
    margin-top: 10px;
}

.form-group {
    text-align: center;
}

.register-form {
    text-align: center;
}



.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}

.footer {
    margin: 50px;
}


.btn-lg {
    margin: 15px;
}