@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Roles Listing</h2>
    @foreach (var role in Model)
    {
        <div>
            @role.ToString()
        </div>
    }
    <hr />
    <h3>@Html.ActionLink("Create a New Role", "Create", "Roles")</h3>

    <hr />
</div>
