@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<div>
    <img class="product-img" src="~/images/seafood.jpg" />
    <h2 class="product-title">SON OF COD SEAFOOD</h2>
    <h4 class="small-title"><em>The Freshest Around</em></h4>
</div>

<hr />

<div class="container about">
    <h2 class="about-title">THE BEST SEAFOOD | THE BEST SERVICE</h2>
    <h3>Since 1918, Son of Cod Seafood has supplied the highest-quality seafood available in the world to restaurants, hotels, caterers and grocers throughout Seattle and the Northwest area. As the region’s largest supplier of fresh fish, we’re proud to provide our community with an unparalleled selection of seafood that showcases the same passionate dedication to personal service that this multigenerational family company has fostered for nearly a century.</h3>
</div>

<div class="container index-buttons">
    @if (User.Identity.IsAuthenticated)
    {
        <p>Hello @User.Identity.Name!</p>
        @using (Html.BeginForm("LogOff", "Account"))
        {
            <input type="submit" class="btn btn-default" value="Log out" />
        }
    }
    else
    {
        <h2 class="btn btn-default btn-lg">@Html.ActionLink("Register", "Register")</h2>
        <h2 class="btn btn-default btn-lg">@Html.ActionLink("Log in", "Login")</h2>
    }
</div>